.project
target/
*/user.properties
user.properties*
/.git
/.metadata
*.jar
*.war
*.class
*/.settings/**
*/target/**
*/bin/**
*/.classpath
*/.project
.classpath
.settings/
.gitignore
/bin
.settings/*
.classpath
*/MANIFEST.MF
*/.settings/org.eclipse.jdt.core.prefs
*/.settings/*
.pydevproject
*.iml
*.idea*
rebel.xml
org.eclipse.*
.DS_Store
.ipr
.iws